{% extends 'base.html' %}

{% block title %}Добавить товар{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h2>Добавить товар</h2>

    <form method="post" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}

        <input type="text" name="name" placeholder="Название товара" required>
        <input type="text" name="description" placeholder="Описание" required>
        <input type="number" step="0.01" name="price" placeholder="Цена" required>

        <select name="category_id" required>
            <option value="">Выберите категорию</option>
            {% for category in categories %}
                <option value="{{ category.0 }}">{{ category.1 }}</option>
            {% endfor %}
        </select>

        <input type="file" name="image" required>
        <input type="number" name="stock" placeholder="Количество на складе" required>

        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}